extends books

block book_content
  p
    a.button(href='/books/new') Create New Book
  p
    | Filters
    a(href='/books' class={active: activeTab === 'all'})  All
    |  |
    a(href='/books/overdue_books' class={active: activeTab === 'overdue'})  Overdue
    |  |
    a(href='/books/checked_books' class={active: activeTab === 'checked'})  Checked Out

  include ../../includes/search

  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year Released
    tbody
      each book in books
        tr
          td
            a(href='/books/book_details/' + book.id)=book.title
          td=book.author
          td=book.genre
          td=book.first_published

  if count > 10
    include ../../includes/pagination
  else if count === 0
    include ../../includes/notFound
