extends ../../index

block content
  h1=title

  p
    a.button(href='/books/new') Create New Book
  p
    | Filters
    a(href='/books')  All
    |  |
    a(href='/books/overdue')  Overdue
    |  |
    a(href='/books/checked')  Checked Out

  block book_content
