extends books

block book_content
  p
    a.button(href='/books/new') Create New Book
  p
    | Filters
    a(href='/books' class={active: activeTab === 'all'})  All
    |  |
    a(href='/books/overdue_books' class={active: activeTab === 'overdue'})  Overdue
    |  |
    a(href='/books/checked_books' class={active: activeTab === 'checked'})  Checked Out
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year Released
    tbody
      each loan in loans
        tr
          td
            a(href='/books/book_details/' + loan.book.id)=loan.book.title
          td=loan.book.author
          td=loan.book.genre
          td=loan.book.first_published

  include ../../includes/pagination
