- var page = 1;

nav(class='pagination')
  ul
    if pagination.pages === 0
      li
        a.current(href=`/${pagination.type}?page=${page}`)= page++
    while page <= pagination.pages
      li
        if pagination.currentPage === page
          a.current(href=`/${pagination.type}?page=${page}`)= page++
        else
          a(href=`/${pagination.type}?page=${page}`)= page++
